{% extends 'blogs/_base.html' %}
{% load static %}

{% block title %}iPhone 13{% endblock title %}
{% block content %}

<h1 class="name">
    iPhone 13 Pro Max, 1 ТБ
</h1>
<div class="details mx-auto" style="width: 80em;">
    <div class="col-md-4">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'blogs/img/iphone13f.webp'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'blogs/img/iphone-13-camera.webp' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'blogs/img/iphone-13-many.webp' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'blogs/img/iphone-13-set.webp' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'blogs/img/iphone-13-access.webp' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </div>
    <div class="card-descr border-light mb-3">
        <div class="row g-0">
            <div class="descriptions">
                <ul class="list-group list-group-flush bg-light">
                    <li class="list-group-item">
                        <div class="chars-btn-scroll">
                            <a href="#chars" style="color: #EF7F1A;">
                                <h4>Характеристики</h4>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h2 style="font-weight:bold;">156 000 сом</h2>
                        <span>
                            ~$1800
                        </span>
                        <div class="in-stock">
                            <img src="{% static 'blogs/img/in-stock.svg' %}" alt="">
                            Товар в наличии
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                В связи с нестабильностью валютного курса цены могут не соответствовать указанным на
                                сайте. Уточняйте цены у менеджеров: +996 220 011111
                            </small>
                        </p>
                        <button type="button" class="btn-cart btn-bag btn btn-warning">
                            <img src="{% static 'blogs/img/cart.svg' %}" alt="">
                            <span style="color: white;">
                                В корзину
                            </span>

                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id='chars' class="characteristics">
    <h3>
        Характеристики
    </h3>
    <div class="table-chars">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        Основная Информация
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Производитель</td>
                    <td>APPLE</td>
                </tr>
                <tr>
                    <td>Серия</td>
                    <td>iPhone 13 Pro Max</td>
                </tr>
                <tr>
                    <td>Тип продукта</td>
                    <td>Сотовый телефон</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">
                        Дисплей
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Размер дисплея</td>
                    <td>6.70"</td>
                </tr>
                <tr>
                    <td>Разрешение экрана</td>
                    <td>1284x2778</td>
                </tr>
                <tr>
                    <td>Яркость изображения</td>
                    <td>1000 кд/м²</td>
                </tr>
                <tr>
                    <td>Контрастность</td>
                    <td>2 000 000:1</td>
                </tr>
                <tr>
                    <td>Плотность пикселей</td>
                    <td>458 точек на дюйм</td>
                </tr>
                <tr>
                    <td>Технология дисплея</td>
                    <td>OLED</td>
                </tr>
                <tr>
                    <td>Сенсорный экран</td>
                    <td>Ёмкостный, Тактильный отклик при нажатии</td>
                </tr>
                <tr>
                    <td>Дополнительные особенности</td>
                    <td>Устойчивое к отпечаткам олеофобное покрытие, Поддержка одновременного отображения нескольких
                        языков и наборов символов, Дисплей с расширенным цветовым охватом (P3), Дисплей True Tone, HDR,
                        Super Retina XDR дисплей, Яркость до 1200 кд/м² при просмотре контента в формате HDR, Передняя
                        панель Ceramic Shield</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}